extends layout

block content
  link(rel="stylesheet", href="/css/style.css")
  div(class="container")
    h1= title
    hr
    hr
    if (toShow == null)
      h2 Instance Not Found
    else
        - let flightid = toShow.id
        - let flightModel = toShow.Model
        - let flightcost = toShow.cost
        - let flightcapacity = toShow.capacity
        - let flightrange = toShow.range
        div(class="container" )
            div.row
             div(class='flightAttr mr-3') Flight ID is:
             div(class="ans") #{flightid}
             
            div.row
             div(class='flightAttr mr-3') Flight Model is:
             div(class="ans") #{flightModel}
             
            div.row
             div(class='flightAttr mr-3') Flight Cost is:
             div(class="ans") #{flightcost}
             
            div.row
             div(class='flightAttr mr-3') Flight Capacity is:
             div(class="ans") #{flightcapacity}
             
            div.row
             div(class='flightAttr mr-3') Flight Range is:
             div(class="ans") #{flightrange} 
            hr
             