extends layout

block content
  h1=title 
  p Welcome to #{title}
  p Poorna Chandan Reddy Vavilala is working on pug templates.

  
block content  
  h1= "Search Results - Flight"
  - let items = results
    //let results = [
          {
             "Model": "A108",
             "cost": "123918234",
             "capacity": 350,
             "range":1276,
          },
          {
            "Model": "A132",
             "cost": "120001200",
             "capacity": 298,
             "range":1276,
          },
          {
             "Model": "A543",
             "cost": "25367384",
             "capacity": 500,
             "range": 10000,
          },                   
      ]

  
  div(class="container-fluid")
    div(class="row m-1")
     each item in items
      - let destination = `dispatch(\"/flight/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") Flight #{item.Model} Costs around   #{item.cost} $ with capacity of #{item.capacity} and  range of #{item.range}  . 
       button.btn( class="btn-primary ml-1", onclick = destination) Update

 
  


  script.
    function buy(itemNum){
    alert(`You purchased item ${itemNum+1}`)
    }

    function dispatch(path){
      window.location.href=path
        }
    



